langchain
langchain-groq
dotenv 
langchain-community 
ipykernel
pydantic
schemas
langchain-google-genai
langchain-aws 
dotenv
langgraph
langchain-openrouter
beautifulsoup4 
lxml
fastapi
pypdf
sentence-transformers
qrcode[pil]
flask 
flask_cors
tensorflow
